MYSQL_DATABASE=wordpress
MYSQL_USER=mysql_user

DOMAIN_NAME=login.42.fr

WP_ADMIN_USER=notadmin
WP_ADMIN_EMAIL=notadmin@login.42.fr

WP_USER=wpuser
WP_USER_EMAIL=editor@login.42.fr

DEVICE_PATH=~/data
NGINX_PORT=443

REDIS_PLUGIN_VERSION=2.8.0
